<!--&lt;!&ndash;<configuration>&ndash;&gt;-->

<!--&lt;!&ndash;    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">&ndash;&gt;-->
<!--&lt;!&ndash;        <encoder>&ndash;&gt;-->
<!--&lt;!&ndash;            <pattern>%cyan(%d{HH:mm:ss.SSS}) %white([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>&ndash;&gt;-->
<!--&lt;!&ndash;        </encoder>&ndash;&gt;-->
<!--&lt;!&ndash;    </appender>&ndash;&gt;-->

<!--&lt;!&ndash;    <root level="info">&ndash;&gt;-->
<!--&lt;!&ndash;        <appender-ref ref="STDOUT" />&ndash;&gt;-->
<!--&lt;!&ndash;    </root>&ndash;&gt;-->

<!--&lt;!&ndash;    <logger name="com.jcondotta.bank_account_transfers" level="debug" />&ndash;&gt;-->
<!--&lt;!&ndash;</configuration>&ndash;&gt;-->

<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>true</includeContext>
            <includeMdc>true</includeMdc>
            <includeStructuredArguments>true</includeStructuredArguments>

            <customFields>{"appName":"bank-account-transfers"}</customFields>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>